<div class="audio-player d-flex flex-column" *ngIf="page?.pageNumber" [@fadeUpDownAnimation]
  [ngClass]="{'minimal-view' : minimal}">
  <mat-progress-bar *ngIf="minimal" style="height: 8px; flex-shrink: 0" color="accent" mode="determinate"
    [value]="progress"></mat-progress-bar>

  <div class="py-1 d-flex align-items-center">
    <button *ngIf="minimal" mat-button (click)="minimal = false" style="min-width: 48px;">
      <fa-icon [icon]="faArrowUp"></fa-icon>
    </button>
    <button *ngIf="!minimal" mat-button (click)="minimal = true" style="min-width: 48px;">
      <fa-icon [icon]="faArrowDown"></fa-icon>
    </button>

    <div class="truncate">
      Pg {{page.pageNumber}} in
      <a routerLink="/{{currentBookId}}" class="white-link">{{page.bookTitle}}, </a>
      <!-- TODO: Make a chapter pipe -->
      <a routerLink="/{{currentBookId}}/{{currentChapterId}}" class="white-link">Ch {{page.chapterName}}</a>
    </div>

    <button *ngIf="minimal" class="ml-auto" mat-button (click)="playerService.clearPage()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>

  <div class="d-flex py-2" style="align-items: center; justify-content: space-between;">
    <button mat-button [disabled]="!chapterPages || firstPage" (click)="prevPage()">
      <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>
    <button mat-button (click)="rewind30()">
      -30
    </button>
    <button mat-button (click)="unPause()" *ngIf="!playing">
      <fa-icon [icon]="faPlayCircle" class="fa-2x"></fa-icon>
    </button>
    <button mat-button (click)="pause()" *ngIf="playing">
      <fa-icon [icon]="faPauseCircle" class="fa-2x"></fa-icon>
    </button>
    <button mat-button (click)="fastForward30()">
      +30
    </button>
    <button mat-button [disabled]="!chapterPages || lastPage" (click)="nextPage()">
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
  </div>

  <mat-progress-bar *ngIf="!minimal" style="height: 8px; flex-shrink: 0" color="accent" mode="determinate"
    [value]="progress"></mat-progress-bar>

  <div class="page-text p-2" *ngIf="!minimal">
    {{page.text}}
  </div>
</div>