@import 'dependencies';

.audio-player {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: $r2m-primary;
  color: white;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, .35);
  z-index: 101;

  &.minimal-view {
    top: unset;
    // transition: all .2s ease-in-out;
  }
}

.white-link {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.page-text {
  background: white;
  color: black;
  overflow-y: auto;
  flex-grow: 1;
}

// progress::-webkit-progress-value {
//   transition: width 0.1s ease;
// }