<div class="audio-player d-flex py-2" style="align-items: center;" *ngIf="page?.id" [@fadeUpDownAnimation]>
  <button mat-button>
    <i class="fas fa-play-circle fa-2x" *ngIf="!playing"></i>
    <i class="fas fa-pause-circle fa-2x" *ngIf="playing"></i>
  </button>

  <div>
    <!-- truncate -->
    <a routerLink="/" class="white-link small">{{page.bookTitle}}</a><br />
    <a routerLink="/" class="white-link">Chapter {{page.chapterId}}</a>,
    Page {{page.id}}
  </div>

  <div title="{{page.text}}">
    Text
  </div>
  <button mat-button class="ml-auto" (click)="playerService.clearPage()"><i class="fas fa-times"></i></button>
</div>
