.rtm-header {
  align-items: center;
  background: #546e7a;
  color: white;
  min-height: 56px;
}

.mat-button {
  min-width: 20px;
  padding: 0 7px;
}

.profile {
  max-width: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
