<div class="r2m-header d-flex">
  <a mat-button routerLink="/" class="px-2">
    <h3 class="m-0">Read 2 Me</h3>
  </a>

  <div class="ml-auto"></div>

  <a routerLink="/user" routerLinkActive="active" *ngIf="db.user | async as user; else login">
    <span [ngClass]="{'hidden-xs-down' : user.photoURL}">{{user.displayName | firstname}}</span>
    <img *ngIf="user.photoURL" class="profile" [src]="user.photoURL">
  </a>
  <ng-template #login>
    <a routerLink="/user/login" routerLinkActive="active" i18n="@@login">
      Log In
    </a>
  </ng-template>
</div>
