<div class="rtm-header d-flex">
  <a mat-button routerLink="/" class="px-2">
    <h3 class="m-0">Read 2 Me</h3>
  </a>

  <button class="ml-auto" mat-button [matMenuTriggerFor]="usermenu" *ngIf="auth.user | async as user">
    <span [ngClass]="{'hidden-xs-down' : user.photoURL}">
      {{user.displayName | firstName}}
    </span>
    <img *ngIf="user.photoURL" class="profile" [src]="user.photoURL">
  </button>
  <mat-menu #usermenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="auth.signOut()">Log Out</button>
  </mat-menu>

  <!-- <a mat-button routerLink="/user" *ngIf="auth.user | async as user">
    <span [ngClass]="{'hidden-xs-down' : user.photoURL}">
      {{showFirstName(user.displayName)}}
    </span>
    <img *ngIf="user.photoURL" class="profile" [src]="user.photoURL">
  </a> -->

  <!-- User NOT logged in -->
  <!-- <ng-template #login>
    <a mat-button routerLink="/user/login">
      Log In
    </a>
  </ng-template> -->
</div>
