<ng-container *ngIf="chaptersObservable | async as chapters">

  <h3 class="text-center" *ngIf="chapters.length">Chapters</h3>
  <div *ngIf="!chapters.length" class="px-2 py-3" style="background: #efefef;">
    Add a chapter to listen to:
  </div>
  
  <div class="d-flex flex-column centered-400-column px-2">
    <rtm-chapter-card class="mb-2 text-center" style="display: block" *ngFor="let chapter of chapters" [chapter]="chapter"></rtm-chapter-card>

    <button mat-raised-button color="accent" (click)="addChapter = true" *ngIf="!addChapter && chapters.length" class="my-3">Add Chapter</button>

    <rtm-add-chapter class="mt-2" *ngIf="!chapters.length || addChapter"></rtm-add-chapter>
  </div>

</ng-container>
