.d-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: -moz-box !important;
  display: flex !important;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.align-items-center {
  -webkit-align-items: center; // Safari 7-8, not needed for Safari 9+
  align-items: center;
}

.align-items-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.align-self-center {
  -webkit-align-self: center;
  align-self: center;
}

.flex-spacer {
  flex: 1 1 auto;
}
