<mat-nav-list class="pt-0" rtmDropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
  <mat-list-item>
    <label matLine style="height: 48px; line-height: 48px;">
      <input style="display: none;" type="file" (change)="startUpload($event.target.files)">
      <i class="fas fa-plus text-muted ml-1 mr-3" style="font-size: 1rem; width: 1rem; height: 1rem;"></i>
      Scan Page <b>{{pageNumber}}</b>
    </label>
    <button mat-icon-button rtmClickStopPropagation (click)="increasePageNumber()"><i class="fas fa-chevron-up"></i></button>
    <button mat-icon-button rtmClickStopPropagation (click)="decreasePageNumber()"><i class="fas fa-chevron-down"></i></button>
    <button mat-icon-button rtmClickStopPropagation (click)="writeInPageNumber()"><i class="fas fa-edit"></i></button>
  </mat-list-item>
</mat-nav-list>

<div *ngIf="isUploading" style="width: 100%; margin-top: -48px; padding: 16px 0; position: relative;">
  <ng-container *ngIf="percentage | async as pct">
    <mat-progress-bar class="" style="height: 18px;" color="accent" mode="determinate" [value]="pct"></mat-progress-bar>
  </ng-container>
</div>
