<div class="dropzone p-3" rtmDropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering"
  *ngIf="page">

  <h3 class="mt-0">Drag and Drop an Image</h3>
  <mat-form-field style="width: 60px;">
    <input matInput placeholder="Page" [(ngModel)]="page" type="number">
  </mat-form-field>
  <label class="file-label">
    <input style="display: none;" type="file" (change)="startUpload($event.target.files)">
    or choose a file…
  </label>

  <div *ngIf="percentage | async as pct" style="width: 100%;">
    <!-- {{ pct | number }}% -->
    <ng-container *ngIf="pct != 100">
      <mat-progress-bar class="my-2" style="height: 10px;" color="accent" mode="determinate" [value]="pct"></mat-progress-bar>
    </ng-container>
  </div>

</div>
