<ng-container *ngIf="bookService.currentChapter | async as chapter">
  <div class="chapter-header d-flex pr-2">
    <a mat-button routerLink="../" style="min-width: 48px;">
      <i class="fas fa-arrow-left"></i>
    </a>
    <h4 class="m-0 truncate">{{chapter.id | prefixChapterNumber}}</h4>
  </div>

  <div class="px-2 pb-2">
    <div class="d-flex flex-wrap" style="justify-content: space-around;">
      <div class="d-flex flex-column text-center" *ngIf="chapter.pages">
        <div>Listen to:</div>
        <button *ngFor="let page of pages" mat-button type="button" (click)="setPage(page)" title="{{page | json}}">Page
          {{page.id}}</button>
      </div>

      <div>
        <rtm-scan></rtm-scan>
      </div>
    </div>

    <div class="small text-muted mt-3 text-center">Tip: Tap the book title to return to the chapter list for this book.</div>
  </div>
</ng-container>
