// @import '../../../styles/titanium/dependencies';

.chapter-header {
  align-items: center;
  background: darken(#546e7a, 10%);
  color: white;
  min-height: 56px;
}

.chapter-layout {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 20px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
