$app-primary: mat-palette($mat-blue-grey, 600);
$app-accent: mat-palette($mat-orange, 400);

// $app-primary: mat-palette($mat-brown);
// $app-accent: mat-palette($mat-blue-grey);

$app-warn: mat-palette($mat-red); // The warn palette is optional (defaults to red).

$rtm-primary: mat-color($app-primary);
$rtm-accent: mat-color($app-accent);
$rtm-warn: mat-color($app-warn);
