@import '../../../styles/titanium/dependencies';

.book-title-container {
  color: white;
  text-align: center;
  position: fixed;
  top: 10px;
  left: 53px;
  right: 53px;

  @include min-width($sm) {
    left: 120px;
    right: 120px;
  }
}
