<rtm-header></rtm-header>

<div class="d-flex flex-column" style="min-height: calc(100vh - 56px); background: #f8f8f8;">
  <div style="flex-grow: 1">
    <ng-container *ngIf="auth.user | async; else login">
      <div *ngIf="booksObservable | async as books">
        <div *ngIf="!books.length" class="px-2 py-3" style="background: #efefef;">
          Add a book to your library:
        </div>

        <div class="d-flex flex-column centered-400-column">
          <h3 class="mb-2 pl-3" *ngIf="books.length">My Books</h3>

          <mat-nav-list class="pt-0">
            <mat-list-item *ngFor="let book of books" routerLink="/book/{{book.id}}">
              <i class="fas fa-book text-muted" matListIcon></i>
              <div matLine>{{book.title}}</div>
              <div matLine class="small text-muted truncate" *ngIf="book.pages">{{book.pages}} {{book.pages === 1 ?
                'page' : 'pages'}} scanned</div>
              <!-- <button mat-icon-button [matMenuTriggerFor]="pageMenu" rtmClickStopPropagation><i class="fas fa-ellipsis-v"></i></button>
                <mat-menu #pageMenu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="deleteBook(book.id)">Delete Page</button>
                </mat-menu> -->
            </mat-list-item>
          </mat-nav-list>

          <button mat-raised-button color="accent" (click)="addBook = true"
            *ngIf="!addBook && books.length && books.length < 11" class="m-2">Add Book</button>
          <!-- <button mat-fab color="accent" (click)="addBook = true" *ngIf="!addBook && books.length && books.length < 11"
            matTooltip="Add Book"><i class="fas fa-plus mr-1"></i><i class="fas fa-book"></i></button> -->

          <div class="my-3" *ngIf="books.length >= 11">
            You have reached the maximum number of books available. Please wait until the delete feature
            is ready and then delete some of your old books.
          </div>

          <rtm-add-book *ngIf="!books.length || addBook"></rtm-add-book>
        </div>
      </div>
    </ng-container>

    <ng-template #login>
      <div class="px-2 py-3 text-center mb-4" style="background: #efefef;">
        Let your phone read to you by taking pictures of pages. Login to get started.
      </div>

      <button mat-raised-button (click)="auth.googleLogin()" style="color: #dd4b39;">
        <i class="fab fa-google mr-2" style="vertical-align: 0;"></i> Login with Google
      </button>
    </ng-template>
  </div>

  <!-- style="background: #efefef;" -->
  <div class="p-2 small">
    Built by Jacob Bowdoin.
    <!-- {{date | date: 'y'}}. -->
  </div>
</div>
